@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
}

.auth-container {
    display: flex;
    height: 100vh;
}

/* LEFT SIDE */
.left-panel {
    width: 50%;
    background-color: #5a4bff;
    color: #000;
    padding: 40px;
    position: relative;
}

.back-link {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.left-content {
    position: absolute;
    bottom: 60px;
    left: 40px;
    max-width: 300px;
}

.left-content h2 {
    font-size: 28px;
    font-weight: 600;
    color: #000;
}

/* RIGHT SIDE */
.right-panel {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-box {
    width: 350px;
    text-align: center;
}

.icon {
    font-size: 28px;
    margin-bottom: 10px;
}

.form-box h2 {
    margin-bottom: 30px;
}

.form-group {
    text-align: left;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 14px;
    display: block;
    margin-bottom: 6px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

.btn-login:hover {
    background-color: #1558c0;
}

.signup-text {
    margin-top: 15px;
    font-size: 14px;
}

.signup-text a {
    color: #1a73e8;
    text-decoration: none;
}
.form-row {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.form-row input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
}
